<!DOCTYPE html>
<html>
<head>
    <title>Generador de PDF</title>
</head>
<body>
<h1>Generador de PDF</h1>

<!-- Enlace para descargar el PDF -->
<a href="C:\Users\Usuario\OneDrive\Escritorio/tabla.pdf" download="tabla.pdf">Descargar PDF</a>

<!-- Botón para abrir el PDF en una nueva ventana o pestaña -->
<button onclick="abrirPDF()">Abrir PDF</button>

<script>
    function abrirPDF() {
        window.open("C:\\Users\\Usuario\\OneDrive\\Escritorio/tabla.pdf", "_blank");
    }
</script>
</body>
</html>

